<div class="modal" *ngIf="opened"
  [ngClass]="{'modal-open' : opened, 'fade': !opened}"
>
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"  (click)="onClose()">&times;</button>
          <h4 class="modal-title">Photo Details</h4>
        </div>
        <div class="modal-body">
          <div class="img-modal" >
              <a href="{{photo.url}}">
                <img class="img-responsive" src="{{photo.url}}" alt="{{photo.title}}" title="{{photo.title}}">
              </a>
          </div>
        </div>
        <div class="modal-footer">
          <p class="text-left">Photo URL: </p>
          <p title="{{photo.url}}" class="modal-details-url text-left">{{photo.url}}</p>
        </div>
      </div>
    </div>
  </div>