<div class="container">
    <h1 class="text-center">Flickr Search Photos</h1>
    <div class="form-group">
        <input type="search" class="form-control" (keyup)="searchPhotos($event)">
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let image of images; let i = index">
            <div class="card">
                <a  (click)="onOpenModal(image,images)">
                    <img src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}">
                </a>
            </div>
        </div>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    ></div>
</div>
<div *ngIf="openModal">
    <app-photo-modal 
        [photos]="images" 
        [photoPointer]="photoPointer"
        (closePhotModal)="closePhotModal()"
    >
    </app-photo-modal>
</div>

