<div class="container">
    <h1 class="text-center">Flickr Search Photos</h1>
    <div class="form-group">
        <input type="search" class="form-control" (keyup)="searchPhotos($event)">
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let image of images;let i = index">
            <div class="card">
                <a  (click)="showPhotoModal = !showPhotoModal">
                    <img src="{{image.url}}" alt="{{image.title}}" title="{{image.title}}">
                </a>
            </div>
            <app-photo-modal [photo]="image" *ngIf="showPhotoModal" (getData)="getData($event)"></app-photo-modal>
        </div>
    </div>
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    ></div>
</div>

